#site-title > a {
    font-size: inherit;
    font-weight: bold;
    color: inherit;
    text-decoration: inherit;
}




#content {
    display: grid;
    gap: var(--grid-gap);

    header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
        padding: var(--grid-areas-padding);
    }
    
    main.theme-dark {
        border: 1rem ridge var(--light-gray);
        background-color: var(--main-background-color);
        height: 36rem;
        overflow-y: auto;
        scrollbar-color: snow rgba(0, 0, 0, 0);

    }
}


#content.theme-dark {
    grid-template-columns: 12.5rem 1fr 12.5rem;
    grid-template-areas:
        "header header header"
        "aside-left main aside-right";

    #aside-top {
        display: none;
    }

    #aside-left {
        grid-area: aside-left;
        padding: var(--grid-areas-padding);
    }
    
    #aside-right {
        grid-area: aside-right;
        padding: var(--grid-areas-padding);
    }
}


#content.theme-light {
    grid-template-columns: initial;
    grid-template-areas:
        "header"
        "aside-top"
        "main";

    #aside-top {
        grid-area: aside-top;
    }

    #aside-left, #aside-right {
        display: none;
    }
}




@media (max-width: 1024px) {

    #content.theme-dark {
        grid-template-columns: initial;
        grid-template-areas:
            "header"
            "aside-top"
            "main";

        #aside-top {
            display: initial;
            grid-area: aside-top;
        }
    
        #aside-left, #aside-right {
            display: none;
        }
    }

    #content.theme-light {
        grid-template-columns: initial;
        grid-template-areas:
            "header"
            "aside-top"
            "main";

        #aside-top {
            grid-area: aside-top;
        }
    }
}
