.project-card {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .text-section {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    .caption {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      gap: 1rem;

      .title {
        margin: 0;
        text-align: center;
      }

      .description {
        margin: 0;
        font-size: var(--font-size-small);
      }
    }

    .technologies {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;

      img {
        width: auto;
        height: 1.2rem;
        aspect-ratio: initial;
      }
    }
  }
}

.project-card.theme-dark {
  border: 1px dotted currentColor;

  .text-section {
    padding-bottom: 1rem;
  }
}

.project-card.theme-light {
  border: 1px solid var(--dark-gray);
  border-radius: var(--project-card-theme-light-border-radius);
  box-shadow: 0.2rem 0.2rem 1rem var(--dark-gray);

  .text-section {
    padding-bottom: var(--project-card-theme-light-border-radius);
  }
}
