/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

#snake-95__app {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  *:not(dialog) {
    margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      @supports (interpolate-size: allow-keywords) {
        interpolate-size: allow-keywords;
      }
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    font-size: 1em;
  }

  p {
    @supports (text-wrap: pretty) {
      text-wrap: pretty;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @supports (text-wrap: pretty) {
      text-wrap: balance;
    }
  }

  #root,
  #__next {
    isolation: isolate;
  }

  /* Counter global style */
  h1 {
    letter-spacing: initial;
    font-weight: bold;
  }
  :not(html) {
    font-size: inherit;
  }
  main {
    padding: 0;
  }
}
