.nav-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.theme-dark {
  &.nav-list {
    margin: 0;
    color: black;

    @media screen and (max-width: 1024px) {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      gap: var(--grid-gap);
      text-align: center;

      .nav-item {
        flex: 1;

        .nav-link {
          width: 100%;
          padding: 1em 0 1em 0;
        }
      }
    }
  }

  &.nav-link {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    color: currentColor;
    text-decoration: none;
    background-color: var(--dark-gray);
    border: 0.3rem outset var(--gray);
    font-family: var(--theme-dark-font);

    &:hover {
      border-style: inset;
    }

    &:active {
      /* Darken the color */
      background-color: oklch(from var(--dark-gray) calc(l - 0.05) c h);
    }
  }
}

.navigation.theme-light.header-nav {
  .nav-list {
    position: relative;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    text-align: center;

    .nav-link {
      display: block;
      padding: 1.5rem;
      align-content: center;
      color: currentColor;
      text-decoration: none;
    }
  }
}

.nav-link.theme-light {
  font-family: var(--font-sans-serif);

  &:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
}

.navigation.theme-light.mobile-menu-nav {
  .nav-list {
    display: flex;
    flex-direction: column;
    text-align: left;

    .nav-link {
      display: block;
      padding: 1rem;
      flex: 1;
      color: currentColor;
      text-decoration: none;
      font-size: var(--font-size-large);
    }
  }
}

.nav-link:hover {
  cursor: pointer;
}
