.nav-list {
  padding-left: 0;
  list-style: none;
}

.theme-dark {
  &.nav-list {
    margin: 0;
    color: black;

    @media screen and (max-width: 1024px) {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
      gap: var(--grid-gap);
      text-align: center;

      .nav-item {
        flex: 1;

        .nav-link {
          width: 100%;
          padding: 1em 0 1em 0;
        }
      }
    }
  }

  &.nav-link {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    color: currentColor;
    text-decoration: none;
    background-color: var(--dark-gray);
    border: 0.3rem outset var(--light-gray);
    font-family: var(--theme-dark-font);

    &:hover {
      border-style: inset;
    }

    &:active {
      /* Darken the color */
      background-color: oklch(from var(--dark-gray) calc(l - 0.05) c h);
    }
  }
}

.navigation.theme-light {
  .nav-list {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    text-align: center;

    .nav-link {
      display: block;
      padding: 1.5rem;
      align-content: center;
      color: currentColor;
      text-decoration: none;
      transition: color 0.3s;
      font-family: var(--theme-light-font);

      &:hover {
        color: var(--dark-gray);
      }

      &:active {
        /* Darken the color */
        color: oklch(from var(--dark-gray) calc(l - 0.1) c h);
      }
    }
  }
}

.navigation.theme-light.sidebar-nav {
  .nav-list {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    text-align: left;

    .nav-link {
      display: block;
      --padding-vertical: 1rem;
      padding-top: var(--padding-vertical);
      padding-bottom: var(--padding-vertical);
      flex: 1;
      color: currentColor;
      text-decoration: none;
      transition: color 0.3s;
      font-family: var(--theme-light-font);
      font-size: var(--font-size-large);

      &:hover {
        color: var(--dark-gray);
      }

      &:active {
        /* Darken the color */
        color: oklch(from var(--dark-gray) calc(l - 0.1) c h);
      }
    }
  }
}

.nav-link:hover {
  cursor: pointer;
}
