#base-page {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

#base-page.theme-dark {
  padding: 4rem 0 clamp(1rem, 2dvw + 0.2rem, 3rem) 0;
  color: white;
  font-family: var(--theme-dark-font);
}

#base-page.theme-light {
  color: black;
  font-family: var(--theme-light-font);
}

#base-page::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

#base-page.theme-dark::before {
  background: url('/decoration/stars4.gif');
}

#base-page.theme-light::before {
  background: #fff;
}
