#content {
    margin: auto;
    width: min(90%, 85rem);
    display: grid;
    gap: var(--main-grid-gap);

    header {
        grid-area: header;
    }
    
    #aside-left, #aside-right, main {
        background-color: var(--section-background-color);
    }
    
    main {
        grid-area: main;
        padding: var(--main-grid-border-radius);
    }
}





@media (min-width: 1025px) {

    #content {
        grid-template-columns: 12.5rem 1fr 12.5rem;
        grid-template-areas:
            "header header header"
            "aside-left main aside-right";

        #aside-top {
            display: none;
        }
    
        #aside-left {
            grid-area: aside-left;
            padding: var(--main-grid-border-radius);
            border-top-left-radius: var(--main-grid-border-radius);
            border-bottom-left-radius: var(--main-grid-border-radius);
        }
        
        #aside-right {
            grid-area: aside-right;
            padding: var(--main-grid-border-radius);
            border-top-right-radius: var(--main-grid-border-radius);
            border-bottom-right-radius: var(--main-grid-border-radius);
        }
    }

}




@media (max-width: 1024px) {

    #content {
        grid-template-columns: initial;
        grid-template-areas:
            "header"
            "aside-top"
            "main";

        #aside-top {
            grid-area: aside-top;
            border-top-left-radius: var(--main-grid-border-radius);
            border-top-right-radius: var(--main-grid-border-radius);
        }
    
        #aside-left, #aside-right {
            display: none;
        }
    
        main {
            border-bottom-left-radius: var(--main-grid-border-radius);
            border-bottom-right-radius: var(--main-grid-border-radius);
        }
    }
}
