#id-card {
    grid-area: id-card;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0;
    column-gap: 3rem;
}

#id-card > img {
    width: 10rem;
    aspect-ratio: 1;
}

#id-card > p {
    display: flex;
    align-items: center;
    max-width: 20rem;
}
