#id-card {
    grid-area: id-card;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0;
    column-gap: 3rem;

    & > img {
        height: 181px;
    }
    
    & > p {
        display: flex;
        align-items: center;
        max-width: 20rem;
        text-align: center;
        text-wrap: balance;
    }
}

