#id-card {
    grid-area: id-card;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0;
    column-gap: 3rem;
}

#id-card > img {
    height: 181px;
}

#id-card > p {
    display: flex;
    align-items: center;
    max-width: 20rem;
    text-align: center;
    text-wrap: balance;
}
