#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  &.theme-dark {
    min-height: 100cqh;
  }

  &.theme-light {
    min-height: calc(100dvh - var(--theme-light-header-height));
  }
}

#welcome-content {
  grid-area: welcome;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > img {
    width: min(193px, 100%);
    height: auto;
  }

  & > p {
    display: flex;
    align-items: center;
    max-width: 20rem;
    text-align: center;
    @supports (text-wrap: balance) {
      text-wrap: balance;
    }
  }
}
