/* Center the welcome section. */
main:has(> #welcome) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome {
  grid-area: welcome;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0;
  column-gap: 3rem;

  & > img {
    width: min(193px, 100%);
    height: auto;
    aspect-ratio: 1;
  }

  & > p {
    display: flex;
    align-items: center;
    max-width: 20rem;
    text-align: center;
    text-wrap: balance;
  }
}
