#welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

#welcome {
  grid-area: welcome;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 0;
  column-gap: 3rem;

  & > img {
    width: min(193px, 100%);
    height: auto;
    aspect-ratio: 1;
  }

  & > p {
    display: flex;
    align-items: center;
    max-width: 20rem;
    text-align: center;
    @supports (text-wrap: balance) {
      text-wrap: balance;
    }
  }
}
