/* Global variables */

:root {
    --primary-color: lightskyblue;
    --secondary-color: wheat;
    --main-grid-border-radius: calc(1rem + 1dvw);
    --main-grid-gap: 0.25rem;
    --section-padding: 1rem;
    --section-background-color: rgba(255, 255, 255, 0.3);
    --font-small: 0.8rem;
    --buttons-88-31-width: 88px;
}




/* Top-level elements */

body {
    margin: 0;
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color)) no-repeat;
}

#root {
    padding: 3rem 0;
    min-height: 100dvh;
    position: relative;
}




/* General styling */

* {
    box-sizing: border-box;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

code {
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1, h2 {
    text-align: center;
}

h1 {
    letter-spacing: 0.2rem;
}

section {
    padding: var(--section-padding);
    background-color: var(--section-background-color);
    & > h3 {
        margin-top: 0 !important;
    }
}
