* {
    box-sizing: border-box;
}

:root {
    --base-background-color: rgba(255, 255, 255, 0.3);
    --base-border-radius: 1rem;
    --box-shadow: 1px 1px 3px gray;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: rgb(60, 60, 60);
    text-align: center;
}

body {
    margin: 0;
    background: linear-gradient(to bottom right, lightskyblue, wheat) no-repeat;
}

#root {
    min-height: 100dvh;
}
