@font-face {
  font-family: Barlow;
  src: url('/fonts/Barlow-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Barlow;
  src: url('/fonts/Barlow-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Barlow;
  src: url('/fonts/Barlow-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Barlow;
  src: url('/fonts/Barlow-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/* Global variables */

:root {
  --dark-gray: #bbb;
  --light-gray: oklch(from var(--dark-gray) calc(l + 0.1) c h);
  --white: white;
  --whitesmoke: whitesmoke;
  --main-background-color: #111;
  --grid-areas-padding: clamp(0.8rem, 2dvw, 1.5rem);
  --grid-gap: 0.25rem;
  --main-section-padding: 1rem;
  --font-size-large: clamp(1rem, 0.6dvw + 0.7rem, 1.2rem);
  --font-size-normal: clamp(0.8rem, 3dvw + 0.1rem, 1rem);
  --font-size-small: clamp(0.6rem, 2.8dvw + 0.1rem, 0.8rem);
  --buttons-88-31-width: 88px;
  --project-card-theme-light-border-radius: 1.3rem;
  --theme-dark-font: 'Courier New', Courier, monospace;
  --theme-light-font: Barlow, 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
  @media (prefers-reduced-motion: no-preference) {
    --sidebar-animation-duration: 0.5s;
    --project-card-animation-duration: 0.2s;
  }
  @media (prefers-reduced-motion: reduce) {
    --sidebar-animation-duration: 0;
    --project-card-animation-duration: 0;
  }
}

/* Top-level elements */

:root {
  @supports (scrollbar-gutter: stable) {
    scrollbar-gutter: stable;
  }
}

body {
  margin: 0;
}

/* General styling */

* {
  box-sizing: border-box;
}

:not(html) {
  font-size: var(--font-size-normal);
}

code {
  font-family: 'Courier New', Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: clamp(1rem, 5dvw + 0.3rem, 2rem);
  margin-top: 0;
}

h2 {
  font-size: clamp(0.95rem, 4dvw + 0.5rem, 2rem);
}

h3 {
  font-size: clamp(0.9rem, 3.5dvw + 0.2rem, 1.17rem);
  margin-top: 0 !important;
}

ol {
  padding-left: clamp(20px, 3dvw, 40px);
}
