.project-card {
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.project-card .caption {
    padding: 0 1rem;
}

.project-card .caption p {
    font-size: 0.8em;
}
