.projects-grid {
    display: grid;
    justify-content: center;
    gap: var(--main-section-padding);
}

@media (min-width: 501px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}
@media (max-width: 500px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}